<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amsi.dei.estg.ipleiria.osteoclinic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="DuplicateActivity">

        <activity
            android:name=".vistas.CalcularIMCActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />

        <activity
            android:name=".vistas.DetalhesTreinoActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />

        <activity
            android:name=".vistas.MenuMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".vistas.RegistoActivity"
            android:parentActivityName=".vistas.LoginActivity" />

        <activity android:name=".vistas.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".vistas.DetalhesConsultaActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />

    </application>

</manifest>